/* авторы */
.authors, .books{
    max-width: 1000px;
    /*padding: 30px;*/
    background-color: #d3f9d3;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.authors .author, .books .book{
    background-color: #b9f7b9;
    padding: 15px;
    font-size: 20px;
}


/* при ширине экрана менее 800п */
@media(max-width: 800px){
    .authors, .books{
        grid-template-columns: repeat(3, 1fr);
    }
}

/* при ширине экрана менее 630п */
@media(max-width: 630px){
    .authors, .books{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* при ширине экрана менее 450п */
@media(max-width: 450px){
    .authors, .books{
        grid-template-columns: repeat(1, 1fr);
    }
}
