.user {
    max-width: 800px;
    padding: 40px;
    margin: 0 auto;
    background-color: aliceblue;
    font-size: 1.5rem;

    display: grid;
    grid-template-columns: 2fr 1fr;
}

.user .user-gallery img {
    width: 100%;
}